<div class="carousel slide" data-interval="false" [id]="carouselId">

  <ol class="carousel-indicators">
    <li [attr.data-target]="'#' + carouselId" [attr.data-slide-to]="i" *ngFor="let item of carouselItems; let i = index" class="{{ isActive(i) ? 'active' : ''}}"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item {{ isActive(i) ? 'active' : '' }} product" *ngFor="let item of carouselItems; let i = index">
      <img [src]="item.product.imageUrl" class="img-responsive" />
      <div class="carousel-caption">
        <h4>{{ item.product.name }} - {{item.product.price | currency : "€" : 2}} - [{{item.amount}} available]</h4>
      </div>
    </div>
  </div>

  <a [href]="'#' + carouselId" class="carousel-control left" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a [href]="'#' + carouselId" class="carousel-control right" data-slide="next">
    <span class="icon-next"></span>
  </a>

</div>
