<div class="panel panel-default col-md-6 col-md-offset-3">
  <div class="alert alert-info">
    <h2>Credit: {{ currentCredit | currency : "€" : 2 }}</h2>
    <button class="btn btn-danger" (click)="returnCredit()">Return</button>
    <button class="btn btn-success" (click)="confirmCredit()">Confirm</button>
  </div>
  <ul id="coinsList" class="list-inline">
    <li>
      <img src="../../assets/images/10cent.png" />
      <button class="btn btn-primary" (click)="addCredit(0.10)">10 cents</button>
    </li>
    <li>
      <img src="../../assets/images/20cent.jpg" />
      <button class="btn btn-primary" (click)="addCredit(0.20)">20 cents</button>
    </li>
    <li>
      <img src="../../assets/images/50cent.jpg" />
      <button class="btn btn-primary" (click)="addCredit(0.50)">50 cents</button>
    </li>
    <li>
      <img src="../../assets/images/1euro.jpg" />
      <button class="btn btn-primary" (click)="addCredit(1.0)">1 euro</button>
    </li>
  </ul>
</div>

<div *ngIf="operationResult != undefined" class="panel {{ operationResult.success ? 'panel-success' : 'panel-danger' }} col-md-6 col-md-offset-3">
  <div class="panel-heading"> {{ operationResult.success ? 'Operation Completed!' : 'Operation Error!' }} </div>
  <div class="panel-body">
    <p>{{ operationResult.message }}</p>
    <div *ngIf="operationResult.success && (operationResult.coinsReturned.length > 0)">
      <p>You've been returned: {{ operationResult.total | currency : "€" : 2}}</p>
      <div *ngFor="let coin of operationResult.coinsReturned">
        <img *ngIf="coin.value == 0.10" src="../../assets/images/10cent.png" />
        <img *ngIf="coin.value == 0.20" src="../../assets/images/20cent.jpg" />
        <img *ngIf="coin.value == 0.50" src="../../assets/images/50cent.jpg" />
        <img *ngIf="coin.value == 1" src="../../assets/images/1euro.jpg" />
        Amount: {{ coin.amount }}
      </div>
    </div>
    <div *ngIf="operationResult.success">
      <button class="btn btn-info" (click)="retrieveProduct()">Retrieve Product</button>
    </div>    
  </div>  
</div>

